[Unit]
Description=VM(s) launched
After=online.target

[Service]
Type=exec
RemainAfterExit=yes
ExecStart=/sbin/VMs.sh
#ExecStop=

[Install]
WantedBy=multi-user.target

